.orb {
  border-radius: 50%;
  filter: blur(25px);
  background: radial-gradient(circle at center, #23255e, transparent 40%), 
              conic-gradient(from 45deg, #472a70 52deg, #24425e 65deg, 
              #3d1b63 50deg, #134270 78deg);
  background-size: 350%;
  animation: orb-animation 10s infinite alternate;
}

@keyframes orb-animation {
  50% {
    background-position: left;
  }
  50% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
}

.skill-heads {
  background-image: linear-gradient(to top, #ffaaf4, #e8a6f9, #cea3fd, #b1a0ff, #8e9eff);
}