.skill_sec {
  border-radius: 25px;
  background: #1e154a;
  box-shadow:  10px -10px 21px #18113c,
               -10px 10px 21px #241958;
}

.skill-heads {
  background-image: linear-gradient(to top, #ffaaf4, #e8a6f9, #cea3fd, #b1a0ff, #8e9eff);
}