/* CSS */
.res-button {
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid #dab8ff;
  cursor: pointer;
  position: relative;
  background-color: rgba(234, 166, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.res-button:after {
  content: "";
  background-color: #dab8ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.res-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .res-button {
    padding: 13px 50px 13px;
  }
}

.res-bubble {
  background-image: linear-gradient(to right top, #4b1e70, #421f6f, #38206d, #2e206b, #222069);
}
